

      
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->

          <li class="nav-item">
            <a href="/dashboard" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                DashBoard
              </p>
            </a>
          </li>
         
          <li class="nav-item">
            <a href="/reservations" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Reservas
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/payments" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Pagos
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/commercial" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Comercio
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/properties" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Propiedades
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/properties" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Propiedades
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/statistics" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Estadísticas
              </p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->

